/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
	background:#DEDEDE;
	font-family:georgia;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.template{margin:0 auto;
	width:960px;}

.text-center{text-align:center;}

.topbar{background:#302B29;
	min-height:50px;}
.topbarleft {
  float: left;
  width: 683px;
}
.clear{overflow:hidden;}
.topbarleft ul {
  list-style: outside none none;
  margin: 13px 0 0;
  padding: 0;
}
.topbarleft ul li{float:left;
	padding:0px 10px;
	border-right:1px solid #ddd;
	}
.topbarleft ul li:last-child{
	border-right:0px solid #ddd;
	}
.topbarleft ul li a{float:inline-block;
	color:#ddd;
	display:block;
	text-decoration:none;
	margin-right:1px solid #ddd;
	font-size:12px;}
.topbarleft ul li a:hover{}
.topbarright {
  float: right;
  margin-top: 8px;
  width: 277px;
}
.topbarright i {
  background: #ddd none repeat scroll 0 0;
  border-radius: 50px;
  float: left;
  font-size: 20px;
  height: 25px;
  margin-left: 8px;
  padding-top: 5px;
  text-align: center;
  width: 32px;
  color:#000000;
}
.headersection{}
.headersection h1 {
  font-size: 100px;
  margin: 20px 0;
}
.headersection p{color:#4a4a4a;
	 font-size:20px;
	 margin:0;}
.menusection{}
.mainmenu{}
.mainmenu ul {
  border-bottom: 3px double #ca9494;
  border-top: 3px double #ca9494;
  list-style: outside none none;
  margin: 30px 0 0;
  overflow: hidden;
  padding: 0;
}
.mainmenu ul li{float:left;
	padding:0px 10px;
	border-right:1px solid #ddd;}
.mainmenu ul li a {
  color: #804a4a;
  display: block;
  font-size: 12px;
  padding: 15px 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.mainmenu ul li a:hover, #active{color:#CA9494;}
.recentnews {
  border-bottom: 2px double #999;
  color: #764f48;
  font-size: 16px;
  margin-top: 30px;
  padding-bottom: 25px;
}
.recentnleft {
  float: left;
  margin-right: 30px;
  width: 500px;
}
.recentnleft img {
  float: left;
  height: 320px;
  width: 100%;
  margin-bottom: 20px;
}
.recentnleft h3 {
  font-size: 23px;
  margin-top: 20px;
}
.recentnleft p {
  margin-top: -21px;
	text-align:justify;
	font-size: 12px;}
.recentnright {
  
}
.latesnews {
  margin-bottom: 4px;
}
.latesnews img {
  border: 1px solid #b97f79;
  float: left;
  height: 156px;
  margin-right: 15px;
  padding: 5px;
  width: 126px;
}
.latesnews p {
  font-size: 12px;
  margin-top: -4px;
  text-align: justify;
}
.latesnews h3 {
  font-size: 18px;
}
.contiansection {
  border-bottom: 4px solid #848484;
  color: #764f48;
  padding: 20px;
  width:100%
}
.sidebarleft {
 
  float: left;
  width: 57.5%;
 
}
.lorem {
  border-bottom: 4px solid #9a9a9a;
  float: left;
  padding-bottom: 20px;
  width: 550px;
}
.categorytop {
  float: left;
  margin-right: 10px;
  width: 270px;
}
.categorytop h2 ,.categorytopp h2{
  border-bottom: 4px solid #848484;
  font-size: 30px;
  padding-bottom: 20px;
}
.articleleft{ float: left;}

.articleimg img {
  float: left;
  height: 70px;
  margin-right: 5px;
  margin-top: 12px;
  width: 70px;
}
.articleimg h3, .categorytopp h3 {
  font-size: 18px;
  margin-top: 10px;
}
.articleimg p {
  font-size: 12px;
  margin-top: -18px;
}
.categorytopp {
  float: right;
  width: 270px;
}
.contianright {
  float: right;
  margin-left: -2px;
  margin-top: 6px;
  width: 42.5%;
 
}
.siddebarright{float:left;
margin-right:5px;}
.leftimg {
  float: left;
  margin-right: 4px;
}
.leftimg h2 {
  border-top: 3px solid #848484;
    font-size: 25px;
    margin-top: 18px;
}
.leftimg img {
  height: 943px;
  width: 150px;
}
.caterogy,.caterogyy{float:right;}
.caterogy h2 ,.caterogyy h2{
  border-top: 3px solid #848484;
  font-size: 25px;
  margin-top: 18px;
}
.caterogy h3,.caterogyy h3 {
  border-top: 3px solid #848484;
  font-size: 17px;
  margin-top: 0;
}
.caterogy ul,.caterogyy ul {
  list-style: outside none none;
  margin: 0;
}
.caterogy ul li a ,.caterogyy ul li a{
  color: #764f48;
  text-decoration: none;
}

.categorybottom{width:550px;
	margin-top:50px;}
.bottommenu {
  width: 550px;
}
.bottommenu ul {
  background: #302b29 none repeat scroll 0 0;
  list-style: outside none none;
  margin: 25px 0 0;
  padding: 0;
}

.bottommenu ul li {
  background: #302b29 none repeat scroll 0 0;
  display: inline-block;
  float: left;
  padding: 5px;
  border-right: 1px solid #878280;
  border-left: 1px solid #878280;
}
.bottommenu ul li a {
  
  color: #fff;
  font-size: 13px;
  padding: 3px;
  text-decoration: none;
  text-transform: uppercase;
}
.bottommenu ul li a:last-child{ border-right:0px solid #878280;}
.bottommenu ul li a:hover, #active{color:#ddd;}
.samecaterogy {
  float: left;
  margin-right: 5px;
  width: 133px;
}
.samecaterogy:last-child{margin-right:0px;}
.samecaterogy h4 {
  font-size: 13px;
}
.samecaterogy img {
  height: 85px;
  width: 127px;
}
.samecaterogy p{font-size:12px;}
.samecaterogy a {
  color: #764f48;
  text-decoration: none;
}
.footertopsection{padding:20px;
	border-bottom:4px solid #848484;
	color:#764F48;}
.footertop {
  float: left;
  margin-right: 20px;
  width: 215px;
}
.footertop:last-child{margin-right:0px;}
.footertop h3 {
  border-bottom: 3px solid #c8a19a;
  font-size: 22px;
  padding-bottom: 10px;
}
.footertopp{font-size:12px;}
.footerbottom{color:#764F48;
	font-size:12px;}
.footerbottom h4{padding:20px;
	float:left;}
.footerbottom p{padding:20px;
	float:right;}
.caterogyy{margin-left:5px;}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
